.detail-image {
  /* opacity: 0.5; */
  filter: brightness(25%);
  width: 100vw;
  height: 35rem;
  object-fit: cover;
}

.detail-title {
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.detail-background {
  position: relative;
}

.detail-post-container {
  background-color: white;
  width: 80%;
  margin-top: -100px;
  position: relative;
  border-top: 5px solid rgba(229, 203, 82, 0.85);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-post-information {
  font-size: 1.5rem;
}
