.user-posts-info {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: bold;
  gap: 15px;
}

.noposts {
  display: flex;
  justify-content: center;
  align-items: center;
}
